 .a {
  left: 0;
  top: 0;
  right: 50%;
  bottom: 50%;
  width:604px; 
  height:360px;
  background-size: cover;
 }

 
  .disc{
  width: 332px;            
  height: 332px;          
  background: url(https://kastro-59.github.io/star/CD/lBntdQ9.png)center no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -10;
  overflow: hidden;
  left: 236px;
  top: 13px;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
   animation: spin 6s linear infinite;
  z-index: -6;
  
   }
   }

    @-moz-keyframes spin {
    100% {
     -moz-transform: rotate(360deg);
   }
   }
   @-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
   }
   @keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
   }
      #animation3{
  position: absolute;
  left: 50px;
  top: 50px;
  height: 44px;
  width: 82px;
  }
   .data {
     position: absolute;
     font-family: 'Chela One', cursive;
     font-size: 15px;
     left: 130px;
     top: 40px;
     color: #ffffff;
     width: 236px;
     height: 19px;
     z-index: 16;
     border: 1px;
  }
   #Clock {
     position: absolute;
     top: 60px;
     left: 200px;
     width: 43px;
     color: #ffffff;
     font-family: 'Chela One', cursive;
     font-size: 15px;
  }
